<%- include ('../../partials/header.ejs') %>
<body>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Novo artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/save">
                <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo">
                <br>
                <textarea id="article" class="form-control" placeholder="Escreva o artigo aqui" name="body"></textarea>
                <br>
                <label>Categorias</label>
                <select name="category" class="form-control"> <!-- exibindo as categorias -->
                    <% categories.forEach((category) => { %>
                        <option value="<%= category.id %>"><%= category.title %></option> <!-- mostrando as categorias e pegando o id -->
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
</body>
<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script> <!-- importando o script do tinymce -->
<script>
    tinymce.init({ // esse script atrela o tinymce a text area
        language: "pt_BR", //após baixar o pacote de idiomas no site e inserir na pasta lang do tinymce, basta configurar a linguagem
        selector: "#article",
        plugins: [ //adicionando plugins no tinymce
            "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"
        ]
    });
</script>