<%- include ('../../partials/header.ejs') %>
<body>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar uma nova categoria</a>
    <br>
    <br>
    <table class="table table-bordered">
        <thead> <!-- cabeçalho da tabela -->
            <tr> <!-- linha -->
                <th>ID</th> <!-- colunas -->
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody> <!-- corpo da tabela -->
            
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                        <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)"> <!-- linkando a rota de delete ao botão.(this -> signifia que estamos acessando o usuária)-->
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</body>
<%- include ('../../partials/footer.ejs') %>
<script> //criando uma confirmação antes deletar a categoria
    function confirmarDelecao(event, form){
        event.preventDefault(); //impedi que o formulário seja submetido
        var decision = confirm("Tem certeza que deseja deletar está categoria"); //responsável por pegar a decisão do usuário
        if(decision){
            form.submit(); //caso o usuário seja aceite o formulário seria submetido e irá excluir o usuário
        }
    }
</script>