<%- include ('./partials/header.ejs') %>
<%- include ('./partials/homeNavbar.ejs') %>
<body>
    <br>
    <div class="container">
        <!-- Jumbotron componente do bootstrap -->
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo</h1>
            <p class="lead">Este é um simples blog de tecnologia.</p>
            <hr class="my-4">
            <p>Descrição detalhada</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
          </div>
        <br>
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>  <!-- utilizamos o slug para apontar o botão para o artigo correspondente -->
                </div>
            </div>
            <br>
        <% }) %>
        <br>
        <div class="row"> <!--inserindo o botão de next-->
           <div class="col col-12">
            <a style="float: right;" href="/articles/page/2">Próximo</a> <!-- deixando o próxumo a direita-->
           </div>
        </div>
    </div>

</body>
<%- include ('./partials/footer.ejs') %>
